.cartitem__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 1px solid grey;
    margin: 20px ;
    padding: 20px;
    width: 100%;
    border: none;
    height: 80px;
    margin-top: 50px;
    &:hover{
        background-color: rgb(218, 212, 212);
    }
    h3{
        max-width: 300px;
    }
    button{
        padding: 8px 12px;
        cursor: pointer;
        color: red;
        border: 1px solid red;

        &:hover{
            background-color: red;
            color: white;
        }
    }
}