.header{
    background: rgb(35,36,70);
    background: linear-gradient(284deg, rgba(35,36,70,0.896796218487395) 0%, rgba(49,50,96,1) 13%, rgba(72,73,141,1) 54%);
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a{
        position: relative;
        left: -250px;
        text-decoration: none;
        h1{

            margin-right: auto;
            padding-left: 10px;
            color: white;
            font-size: 2.5rem;
        }
    }
    

    
}

