@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

.item__container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgba(222, 233, 236, 0.562);
    width: 350px;
    min-height: 550px;
    margin: 10px;
    font-family: Oswald, serif;
    overflow: hidden;
    padding: 50px 20px;
    .title__container{
        display: flex;
        justify-content: space-between;
        align-items: left;
        flex-direction: column;
        height: 200px;
        width: 100%;
        padding: 10px;
        h3{
            font-size: 1rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        p{
            margin-top: 5px;
            color: rgb(56, 56, 56);
            font-size: 0.7rem;
            
            text-align: right;
        }
        h2{
            font-size: 2rem;

        }
        
        h4{
            color:rgb(35,36,70);
        }
        
    }
    
    img{
        width: 225px;
        margin: 20px;
        height: 225px;
        object-fit: fill;
        cursor: pointer;
        border-radius: .25rem;
        transition: all .75s;
        &:hover{
          transform: scale(1.25);
          transition: all .5s;
        }
    }

    .item__navegation{
        display: flex;
        justify-content: space-between;
        width: 65%;
        .btn{
            padding: 8px 12px;
            cursor: pointer;
            
        }
    }

    
    
}