@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');


nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 200px;
    padding: 10px;
    font-family: Oswald, serif;
    a{
        color: white;
        text-decoration: none;
        margin: 10px;
        font-size: 1.5rem;
        &:hover{
            color: grey;
        }
    }

    .icon{
        font-size: 2.5rem;
        margin-left: auto;
        position: relative;
        right: -200px;
        cursor: pointer;
        color: white;
        &:hover{
            color: grey;
        }
    }
}

