nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 200px;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}